{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
     <div class="row row-cols-1 row-cols-md-3 g-4">
     {% for product in object_list %}
       <div class="col">
           <div class="card h-100">
           <img src="{{ product.image|media_filter }}"
                class="card-img-top"
                alt="{{ product.name }}"
                style="height: 200px; object-fit: cover;">
           <div class="card-body d-flex flex-column">
             <h5 class="card-title">{{ product.name }}</h5>
             <p class="card-text flex-grow-1">{{ product.description|truncatechars:100 }}</p>
             {% if product.price %}
               <p class="fw-bold mt-auto">₽ {{ product.price }}</p>
             {% endif %}
           </div>
               <div class="card-footer">
               <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-primary w-100">
                 {{ product.name }}
               </a>
             </div>
         </div>
       </div>
     {% endfor %}
   </div>
  </div>
{% endblock %}